<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.uwuaosp.device.overlay.keyhandler">
    <overlay android:targetPackage="android"
             android:isStatic="true"
             android:priority="300" />
</manifest>
